@import "tailwindcss";


.ui-group {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.ui-group__row {
	display: flex;
	gap: 32px;
	align-items: center;
}
.ui-group__title {
	margin-bottom: 32px;
}
.ui-group__row-inner {
	display: flex;
	gap: 16px;
}

.active-text {
	color: #000;
	animation: textColorBlink 1s ease-in-out infinite;
}

@keyframes textColorBlink {
	0% {
		color: #fff;
	}
	50% {
		color: #51bde8;
	}
	100% {
		color: #fff;
	}
}

@keyframes colorBlink {
	0% {
		color: #fff;
	}
	50% {
		color: #51bde8;
	}
	100% {
		color: #fff;
	}
}

:root {
	--transition-duration: 300ms;
	--transition-timing-function: ease;
	--background-01: #FFFFFF;
	--background-02: #FCFCFC;
	--text-primary: #071A2B;
	--text-secondary: #838D95;
	--text-placeholder: #C1C6CA;
	--text-disabled: #DADDDF;
	--text-on-color: #FFFFFF;
	--text-on-color-disabled: #C6C8C9;
	--text-accent: #7EB3FF;
	--layer-01: #FFFFFF;
	--layer-01-hover: #F8F9F9;
	--layer-01-active: #F3F3F4;
	--layer-02: #F5F5F6;
	--layer-02-hover: #EEEFEF;
	--layer-02-active: #E4E5E6;
	--layer-disabled: #F8F9F9;
	--layer-accent: #7EB3FF;
	--layer-accent-hover: #F2F7FF;
	--layer-accent-active: #DFECFF;
	--border-default: #E1E2E3;
	--border-focus: #BFC1C3;
	--border-selected: #7EB3FF;
	--border-disabled: #EEEFEF;

	--support-error: #FF0000;
	--support-error-hover: #e44b4b;
	--support-error-active: #CC0000;

	--support-warning: #DCAE0C;
	--support-warning-hover: #e1b82a;
	--support-warning-active: #C09A0C;

	--support-success: #0E8345;
	--support-success-hover: #37784d;
	--support-success-active: #0B6A32;

	--support-info: #0D97D2;
	--icon-primary: #1E2126;
	--icon-secondary: #A8AFB5;
	--icon-disabled: #CDD1D5;
	--icon-on-color: #FFFFFF;
	--icon-on-color-disabled: #B5BABF;
	--icon-accent: #7EB3FF;
	--button-primary-enabled: #7EB3FF;
	--button-primary-hover: #9EC6FF;
	--button-primary-active: #71A1E6;
	--button-secondary-enabled: #ECF4FF;
	--button-secondary-hover: #DFECFF;
	--button-secondary-active: #D2E4FF;
	--button-disabled: #F8F9F9;
	--button-animating: rgba(126, 179, 255, 0.30);
}



/* Text-size styles */
/*--title---h1---bold: 72px;*/
/*--title---h1---semibold: 72px;*/
/*--title---h1---medium: 72px;*/
/*--title---h1---regular: 72px;*/
/*--title---h2---bold: 56px;*/
/*--title---h2---semi-bold: 56px;*/
/*--title---h2---medium: 56px;*/
/*--title---h2---regular: 56px;*/
/*--title---h3---bold: 40px;*/
/*--title---h3---semibold: 40px;*/
/*--title---h3---medium: 40px;*/
/*--title---h3---regular: 40px;*/
/*--title---h4---bold: 32px;*/
/*--title---h4---semibold: 32px;*/
/*--title---h4---medium: 32px;*/
/*--title---h4---regular: 32px;*/
/*--title---h5---bold: 24px;*/
/*--title---h5---semibold: 24px;*/
/*--title---h5---medium: 24px;*/
/*--title---h5---regular: 24px;*/
/*--text---t1---bold: 20px;*/
/*--text---t1---semibold: 20px;*/
/*--text---t1---medium: 20px;*/
/*--text---t1---regular: 20px;*/
/*--text---t2---bold: 16px;*/
/*--text---t2---semibold: 16px;*/
/*--text---t2---medium: 16px;*/
/*--text---t2---regular: 16px;*/
/*--text---t3---bold: 14px;*/
/*--text---t3---semibold: 14px;*/
/*--text---t3---medium: 14px;*/
/*--text---t3---regular: 14px;*/
/*--text---t4---bold: 12px;*/
/*--text---t4---semibold: 12px;*/
/*--text---t4---medium: 12px;*/
/*--text---t4---regular: 12px;*/