.ui-group {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.ui-group__row {
	display: flex;
	gap: 32px;
	align-items: center;
}
.ui-group__title {
	margin-bottom: 32px;
}
.ui-group__row-inner {
	display: flex;
	gap: 16px;
}

.active-text {
	color: #000;
	animation: textColorBlink 1s ease-in-out infinite;
}
@keyframes textColorBlink {
	0% {
		color: #fff;
	}
	50% {
		color: #51bde8;
	}
	100% {
		color: #fff;
	}
}

@keyframes colorBlink {
	0% {
		color: #fff;
	}
	50% {
		color: #51bde8;
	}
	100% {
		color: #fff;
	}
}